<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>IPFS Demo</title>
</head>
<body>
    <h1>Number Extract</h1>
    <p>TestString: <%= testString %></p>
    <p>TestNum: <%= testNum %></p>
    <p>result: <%= result %> </p>
    <p>result2: <%= result2 %> </p>
</body>
</html>