<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>IPFS Demo</title>
</head>
<body>
    <h1>Upload file to IPFS</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label>filename</label>
        <input type="text", name="fileName">
        <br><br>
        <label>Upload file</label>
        <input type="file" name="file" >
        <br><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>