<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>IPFS Demo</title>
</head>
<body>
    <h1>Extract Number</h1>
    <form action="/upload" method="post">
        <label>TestString : </label>
        <input type="text", name="testString">
        <br/>
        <label>TestNum : </label>
        <input type="text", name="testNum">

        <br><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>